<header>
  <div class="user">
    <%# <img src="images/pp.png" alt=""> %>
    <%= image_tag "pp.png", alt: "alttext" %>
    <h3 class="name">karen joy fujibayashi</h3>
    <p class="post">web developer</p>
  </div>
  <div class="navbar">
    <%= link_to "home", "#home", class: 'navigation-button-link' %>
    <%= link_to "about", "#about", class: 'navigation-button-link' %>
    <%= link_to "projects", "#projects", class: 'navigation-button-link' %>
    <%= link_to "contact", "#contact", class: 'navigation-button-link' %>
    <%# <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#projects">projects</a></li>
      <li><a href="#contact">contact</a></li>
    </ul> %>
  </div>
</header>
