<%# <div class="container "> %>
<%# <div class="row justify-content-center">
    <div class="col"> %>
<%= partial 'partials/nav' %>
<%= partial 'partials/projects' %>
<%= partial 'partials/contact' %>
<%= partial 'partials/about' %>
<%= partial 'partials/video' %>
<%# </div>
  </div> %>
<%# </div> %>
